*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height:80px;
    padding-top: 50px;
    padding-bottom: 35px;
}
.container{
    width: 1000px;
    height:100%;
   
    margin-left: auto;
    margin-right: auto;

}
header > .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#logo{
    width:135px;
}
#navlist{
    display: flex;
    flex-direction: row;
    gap:24px;
}
.navlink{
    color:white;
    font-size: 20px;
    text-decoration:none;
}
.section1{
    height: 100%;
    background-color:rgb(233, 230, 230);
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 50px;
    padding-bottom: 50px;
    

    
}
#grid{
     display: grid;
        grid-template-columns: 2fr 2fr;
        align-items: center;
    
}
.section1image{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.intro{
    color: rgb(5, 5, 5);
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-bottom: 20px;
    padding-top: 20px;
   
   font-family: "Oswald", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;

  
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
}
.card{
    max-width: 100%;
    
    margin: auto;
 

}
.images{
    width: 337px;
    height: 320px;
   
}
.cardtitle{
    color: rgba(65, 63, 63, 0.966);
    font-size: 25px;
}
.discription{
    color: rgb(95, 93, 93);
    font-size: 18px;

}
#section2{
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(56, 55, 51);
    font-size: 40px;
    background-color: rgb(238, 235, 235);
}
h2{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-items: center;

}
#section3{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgb(233, 230, 230) ;
}
.package{
  
    box-shadow: 0 4px 8px 0 rgba(201, 16, 16, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.package1{
    max-width: 100%;
   
}
#offer{
    color:red;
    font-size: 40px;
}
.offerdi{
    color: rgb(3, 3, 3);
}
#offercard{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
}
.price{
    color: rgb(223, 36, 36);
    font-size: 22px;
}
h6{
    color: green;
}
button{
    
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: rgb(250, 247, 247);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 2rem;
    margin-top: 2rem;

}